* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

header {
  padding: 3px 3px 3px 3px;
  height: 60px;
  display: flex;
  background-color: black;
}

.upBar {
  display: flex;
  padding-top: 5px;
  width: 100%;
  color: white;
  border-radius: 10px;
  border-style: solid;
  border-width: 5px;
}

.homeBtn {
  width: 150px;
  height: 35px;
  margin: 0 auto;
  border-radius: 5px;
  cursor: pointer;
}

.homeBtnImg {
  width: 100%;
  height: 100%;
}

.loginBtn {
  height: 28px;
  background-color: white;
  margin-top: 3px;
  margin-right: 5px;
  border-radius: 3px;
  cursor: pointer;
}

.infoBox {
  color: white;
  height: 400px;
  display: flex;
  min-width: 800px;

  background-position: center;
  background-size: cover;
}
.info {
  margin: 0 auto;
  padding: 1rem;
  text-align: center;
}

.info2 {
  margin-top: 30px;
  padding: 1rem;
  text-align: left;
}

.info img {
  width: 230px;
  margin-left: 25px;
  justify-content: left;
  align-items: left;
  border-radius: 20px;
}

.info h3 {
  width: 290px;
  margin-left: 25px;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.flexBox {
  display: flex;
  justify-content: center;
}
.flexBox p {
  min-width: 400px;
  margin-bottom: 0;
}

.mainBox {
  display: flex;
  height: 600px;
  justify-content: center;
  background-position: center;
  background-size: cover;
  background-color: black;
}

.reviewBigBox {
  display: flex;
}

.reviewBox {
  margin-top: 10px;
  width: 100%;
  max-width: 1200px;
  min-width: 800px;
  text-align: center;
  color: white;
  border-radius: 10px;
  border-style: solid;
  border-width: 5px;
}

.reviewBox h2 {
  height: 50px;
  padding-top: 5px;
  color: white;
  border-style: none none solid none;
  border-width: 5px;
  text-align: center;
}

.reviewInputBox {
  align-items: center;
  padding-top: 7px;
  width: 290px;
  height: 160px;
  margin: 0 auto;
  border-style: solid;
  border-width: 5px;
  background-color: black;
  border-radius: 10px;
}
.userBox {
  display: flex;
}

.inputTitle {
  width: 216px;
  height: 30px;
  line-height: 35px;
  border-radius: 5px;
  text-align: center;
  margin-left: 20px;
}

.reviewSaveBtn {
  margin-top: 5px;
  width: 39px;
  height: 30px;
  border-radius: 5px;
}

.txtBox {
  margin-top: 9px;
}

.txtInput {
  padding-top: 5px;
  width: 267px;
  height: 95px;
  border-radius: 5px;
}

.userBox2 {
  display: flex;
  justify-content: center;
}

.updateTitle {
  width: 216px;
  height: 30px;
  line-height: 35px;
  border-radius: 5px;
  margin-left: 20px;
}

.updateSaveBtn {
  margin-top: 5px;
  margin-right: 7px;
  width: 39px;
  height: 30px;
  border-radius: 5px;
}

.reviewListBox {
  width: 65%;
  min-width: 400px;
  margin: 0 auto;
  color: white;
  border-radius: 10px;
  border-style: solid;
  border-width: 5px;
}

.reviewList {
  margin-top: 20px;
  margin-right: 10px;
  padding-bottom: 10px;
  text-align: right;
}

.reviewList h5 {
  margin-top: 5px;
  color: gray;
}

.UDbox {
  margin-top: 5px;
}
